# DB
DB_HOST=
DB_PORT=
DB_NAME=
DB_USERNAME=
DB_PASSWORD=

# Auth
JWT_SECRET=

# OAuth credential encryption
CREDENTIAL_ENCRYPT_KEY=

# OIDC
APPLE_CLIENT_ID=com.Routee-iOS

# OAuth revoke
APPLE_TEAM_ID=
APPLE_KEY_ID=
APPLE_PRIVATE_KEY=
GOOGLE_CLIENT_ID=

# Redis
REDIS_HOST=
REDIS_PORT=
REDIS_PASSWORD=